/node_modules
/public/mirror/secret
/public/hot
/public/ree
/public/inc
/public/assets
/public/storage
/storage/*.key
/vendor
/vendor/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dev-pack.zip
